<!DOCTYPE html>
<html lang="en">
<head>
    <!--Navigation bar-->
    <%- include('./partials/nav.ejs') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class = "">

    <div class="container" style="padding:2em;">
        <div class="row">
          <div class="col-12">
            <!--Importing the main form -->
            <%- include('./partials/mainForm.ejs') %> 
            
            <h1 style="margin-bottom: 2em; border-bottom:solid black;">Your Posts</h1>
            <% if(results.length > 0) { %>
                <% results.forEach(result => { %> 
                <div class='post-list'>
                    <a class='post-details' href='/displayPostList/<%= result._id %>'>
                        <h3 > <%= result.title %> </h3>     
                        <h4><%= result.company %></h4>  
                    </a>      
                   <!-- <button>Edit</button>
                    <button class="delete" data-doc=" <%= result._id%> ">Delete</button>
                    -->                                                   
                </div>
                <% }) %>
            <% } else { %>
                <h1>No posts created</h1>
            <% } %> 

          </div>
        </div>
      </div>
      <!--Importing styles partial-->
      <%- include('./partials/style.ejs')  %> 
</body>
</html>
